/*ANIMATION*/
@-webkit-keyframes slideIn {
    from {
        top: 50%;
        opacity: 0
    } 
    to {
        top: 45%;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        top: 50%;
        opacity: 0
    }
    to {
        top: 45%;
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    } 
    to {
        right: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    }
    to {
        right: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        right: 30px;
        opacity: 1;
    } 
    to {
        right: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        right: 30px;
        opacity: 1;
    }
    to {
        right: 0;
        opacity: 0;
    }
}

